@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    h1 {
        font-size:70px;
        font-family: David;
    }

    h2 {
        font-size:40px;
        font-family: David;
    }

    p {
        font-family: David;
        font-size:18px;
    }

    div {
        font-family: David;
    }

    .webgrid-table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        width: 100%;
        display: table;
        border-collapse: separate;
        border: solid 1px black;
        background-color: white;
    }

        .webgrid-table td, th {
            border: 1px solid black;
            padding: 3px 7px 2px;
        }

    .webgrid-header {
        background-color: black;
        color: #ffffff;
        padding-bottom: 4px;
        padding-top: 5px;
        text-align: left;
    }

    .webgrid-footer {
    }

    .webgrid-row-style {
        padding: 3px 7px 2px;
    }

    .webgrid-alternating-row {
        background-color: white;
        padding: 3px 7px 2px;
    }

    a {
        font-family: 'Guttman Yad';
        font-size: large;
        color: dimgrey;
    }

</style>
<body style="background-image:url(https://thepetpartnership.com/wp-content/uploads/2016/11/slider-pet.jpg)">
</body>